/* Stop watch css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2c3e50;
}
#container{
    color: #d7efe4;
}
.digit{
    font-size: 170px;
    font-weight: bold;
}
.text{
    font-size: 40px;
    font-weight: bold;
}
#buttons{
    padding-left: 64px;
}
.btn{
    font-size: 32px;
    padding: 8px 24px;
    border-radius: 10px;
    margin: 32px 16px;
    color: white;
    cursor: pointer;
    border: none;
}
#start{
    background-color: rgba(0, 128, 0, 0.9);
}
#stop{
    background-color: rgba(0, 0, 255, 0.9);
}
#reset{
    background-color: rgba(255, 0, 0, 0.9);
}